---
const {
  bg = "white",
  border = false,
  class: className = "",
} = Astro.props;

const bgMap = {
  white: "bg-white",
  cream: "bg-sand",
  "cream-100": "bg-cream-100",
  sand: "bg-sand",
  dark: "bg-onyx text-white",
  onyx: "bg-onyx text-white",
};
---

<section
  class:list={[
    "section-space",
    bgMap[bg] ?? bgMap.white,
    border && "border-b border-border-soft/30",
    className,
  ]}
>
  <div class="container-site">
    <slot />
  </div>
</section>
